.dcma_stepper{padding-top: 110px;}
.dcma_main{width: 50%!important;}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{color: #46A4B6!important;padding: 0!important;}
@media (min-width: 600px){.css-19r6kue-MuiContainer-root{padding-left:30px!important;padding-right: 30px!important;}}