.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{padding: 5px 15px!important;border-radius: 0px!important;border: 1px solid #000000!important;color: #000!important;}
.css-sghohy-MuiButtonBase-root-MuiButton-root{padding: 5.5px 24px!important;border-radius: 0px!important;background-color: #07D4FA!important;}
.buttons{text-align: right;}
.css-yz9k0d-MuiInputBase-input {padding: 4px 5px 5px!important;}